/* Gerais */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

.nav-item .nav-link {
    color: #FFF;
    font-size: 1.1rem;
} 

.nav-item .nav-link:hover {
    color: #eee;
} 

.current-item {
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}